<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38465705-c6d7-4b0d-b225-b4be356fc244" Publisher="CN=Karl" Version="1.0.0.0" />
  <Properties>
    <DisplayName>PerformantApp</DisplayName>
    <PublisherDisplayName>Karl</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PerformantApp.App">
      <VisualElements DisplayName="Performant" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Performant: A Concept2 PM3 live viewer." ForegroundText="light" BackgroundColor="#003B78">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>